<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>Netflix</title>
</head>
<body style="background-image: url('static/netflix.png'); backdrop-filter: blur(5px);">
    <div class="container">
        {% for i in range(ln)%}
            <div class="card" style="width: 18rem;"><img src= {{ component['data'][cmp['Netflix']]['edges'][i]['title']['primaryImage']['imageUrl']}} class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{component['data'][cmp['Netflix']]['edges'][i]['title']['originalTitleText']['text']}}</h5>
                <p class="rate"><label class="rating">IMDB: {{component['data'][cmp['Netflix']]['edges'][i]['title']['ratingsSummary']['aggregateRating']}}</label><label class = "rati">{{component['data'][cmp['Netflix']]['edges'][i]['title']['releaseYear']['year']}}</label></p>
                </div>
            </div>
        {% endfor %}

    </div>
</body>
</html>

<!-- @media(orientation:portrait){
    .container{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .footer-link{
        color: white;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        display: block;
    }

} -->
<!-- {% for i in range(ln)%}
            <div class="card" style="width: 18rem; background-color: black; margin-top: 10px; margin-bottom: 10px;">
                <img id="x{{i}}" src= {{ component['data'][1]['edges'][i]['title']['primaryImage']['imageUrl']}} class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title" style="text-align: center; color: crimson;">{{component['data'][1]['edges'][i]['title']['originalTitleText']['text']}}</h5>
                <p class="rate" style="text-align: center; align-items: center;"><label class="rating" style="color: beige; background-color: green; border-radius: 5px; text-align: center; font-size: small; padding: 2px; padding-left: 4px; padding-right: 4px;">IMDB: {{component['data'][1]['edges'][i]['title']['ratingsSummary']['aggregateRating']}}</label><label class = "rati" style="text-align: center; background-color: lightskyblue; font-size: small; border-radius: 5px; color: brown; padding: 2px; padding-left: 4px; padding-right: 4px; margin-left: 5px;">{{component['data'][1]['edges'][i]['title']['releaseYear']['year']}}</label></p>
                </div>
            </div>
        {% endfor %} -->

<!-- @media(orientation:landscape){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        grid-column-gap: 4px;
    }
    .footer-link{
        color: white;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
} -->