<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style2.css">
    <link rel="shortcut icon" href="static/logo.png" type="image/x-icon">
    <title>Binge It</title>
</head>

<body>
    <div class="container">
        
        <div class="card" id="t1">
          <img src= {{vr['data'][0]['primaryImage']['imageUrl']}} class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">{{vr['data'][0]['originalTitleText']['text']}}</h5>
          <p class="rate"><label class="rating">IMDB: {{vr['data'][0]['ratingsSummary']['aggregateRating']}}</label><label class = "rati">{{vr['data'][0]['releaseYear']['year']}}</label></p>
          <p class="card-text">{{vr['data'][0]['plot']['plotText']['plainText']}}</p>
          </div>
        </div>
        <div class="card" id="t2">
          <img src= {{vr['data'][1]['primaryImage']['imageUrl']}} class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">{{vr['data'][1]['originalTitleText']['text']}}</h5>
          <p class="rate"><label class="rating">IMDB: {{vr['data'][1]['ratingsSummary']['aggregateRating']}}</label><label class = "rati">{{vr['data'][1]['releaseYear']['year']}}</label></p>
          <p class="card-text">{{vr['data'][1]['plot']['plotText']['plainText']}}</p>
          </div>
        </div>
        <div class="card" id="t3">
          <img src= {{vr['data'][2]['primaryImage']['imageUrl']}} class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">{{vr['data'][2]['originalTitleText']['text']}}</h5>
          <p class="rate"><label class="rating">IMDB: {{vr['data'][2]['ratingsSummary']['aggregateRating']}}</label><label class = "rati">{{vr['data'][2]['releaseYear']['year']}}</label></p>
          <p class="card-text">{{vr['data'][2]['plot']['plotText']['plainText']}}</p>
          </div>
        </div>
        <div class="card" id="t4">
          <img src= {{vr['data'][3]['primaryImage']['imageUrl']}} class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">{{vr['data'][3]['originalTitleText']['text']}}</h5>
          <p class="rate"><label class="rating">IMDB: {{vr['data'][3]['ratingsSummary']['aggregateRating']}}</label><label class = "rati">{{vr['data'][3]['releaseYear']['year']}}</label></p>
          <p class="card-text">{{vr['data'][3]['plot']['plotText']['plainText']}}</p>
          </div>
        </div>
        <div class="card" id="t5">
          <img src= {{vr['data'][4]['primaryImage']['imageUrl']}} class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">{{vr['data'][4]['originalTitleText']['text']}}</h5>
          <p class="rate"><label class="rating">IMDB: {{vr['data'][4]['ratingsSummary']['aggregateRating']}}</label><label class = "rati">{{vr['data'][4]['releaseYear']['year']}}</label></p>
          <p class="card-text">{{vr['data'][4]['plot']['plotText']['plainText']}}</p>
          </div>
        </div>
        <div class="card" id="t6">
          <img src= {{vr['data'][5]['primaryImage']['imageUrl']}} class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">{{vr['data'][5]['originalTitleText']['text']}}</h5>
          <p class="rate"><label class="rating">IMDB: {{vr['data'][5]['ratingsSummary']['aggregateRating']}}</label><label class = "rati">{{vr['data'][5]['releaseYear']['year']}}</label></p>
          <p class="card-text">{{vr['data'][5]['plot']['plotText']['plainText']}}</p>
          </div>
        </div>
        <div class="card" id="t7">
          <img src= {{vr['data'][6]['primaryImage']['imageUrl']}} class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">{{vr['data'][6]['originalTitleText']['text']}}</h5>
          <p class="rate"><label class="rating">IMDB: {{vr['data'][6]['ratingsSummary']['aggregateRating']}}</label><label class = "rati">{{vr['data'][6]['releaseYear']['year']}}</label></p>
          <p class="card-text">{{vr['data'][6]['plot']['plotText']['plainText']}}</p>
          </div>
        </div>
        <div class="card" id="t8">
          <img src= {{vr['data'][7]['primaryImage']['imageUrl']}} class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">{{vr['data'][7]['originalTitleText']['text']}}</h5>
          <p class="rate"><label class="rating">IMDB: {{vr['data'][7]['ratingsSummary']['aggregateRating']}}</label><label class = "rati">{{vr['data'][7]['releaseYear']['year']}}</label></p>
          <p class="card-text">{{vr['data'][7]['plot']['plotText']['plainText']}}</p>
          </div>
        </div>
        <div class="card" id="t9">
          <img src= {{vr['data'][8]['primaryImage']['imageUrl']}} class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">{{vr['data'][8]['originalTitleText']['text']}}</h5>
          <p class="rate"><label class="rating">IMDB: {{vr['data'][8]['ratingsSummary']['aggregateRating']}}</label><label class = "rati">{{vr['data'][8]['releaseYear']['year']}}</label></p>
          <p class="card-text">{{vr['data'][8]['plot']['plotText']['plainText']}}</p>
          </div>
        </div>
        <div class="card" id="t10">
          <img src= {{vr['data'][9]['primaryImage']['imageUrl']}} class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">{{vr['data'][9]['originalTitleText']['text']}}</h5>
          <p class="rate"><label class="rating">IMDB: {{vr['data'][9]['ratingsSummary']['aggregateRating']}}</label><label class = "rati">{{vr['data'][9]['releaseYear']['year']}}</label></p>
          <p class="card-text">{{vr['data'][9]['plot']['plotText']['plainText']}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <a class="footer-link" href="https://leetcode.com/myp001/">LeetCode</a>
      <a class="footer-link" href="https://www.facebook.com/meet.pancholi.355/">Facebook</a>
      <a class="footer-link" href="https://github.com/MeetPancholi01">Github</a>
      <p class="copyright">© 2022 Meet Pancholi</p>
      <p>All Rights Reserved</p>
    </div>
</body>